@{
    ViewBag.Title = "Communication";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="container-fluid pagecontentbody">
    <div class="tab-content">
        <div class="pagebody removebg-color">
            <div class="col-md-12 pageheader pb-2">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-0 ps-4">
                            <a href="@Url.Action("unitdocuments", "DashBoard")" class="backarow"><i class="fas fa-arrow-left"></i></a>
                            Employees State Insurance Act, 1948
                            <small class="custsty mt-2">Dominos * 2056785</small>
                        </h4>
                    </div>                    
                </div>
            </div>
            <div class="col-md-12">
               <div class="row g-3">
                    <div class="col-md-12">                        
                        <div class="row mb-3 upldoc">
                            <div class="col-md-12 mb-3">
                                <h6 class="subheading m-0">Upload Documents</h6>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">1. Employees State Insurance Act,1948</label>
                                <div class="viewDocfile">                                    
                                     <img src="~/Content/general/images/pdfimg.png" />                                   
                                </div>
                                <div class="row showfil">
                                    <div class="col-6">
                                        <a href="#"><i class="fas fa-download"></i></a>
                                    </div>
                                    <div class="col-6 text-end posreltv">
                                        <span class="browtext">Browse</span><input type="file" class="browbtn" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">2. The Minimum Wages Act, 1948</label>
                                <div class="viewDocfile">                                    
                                     <img src="~/Content/general/images/pdfimg.png" />                                   
                                </div>
                                <div class="row showfil">
                                    <div class="col-6">
                                        <a href="#"><i class="fas fa-download"></i></a>
                                    </div>
                                    <div class="col-6 text-end posreltv">
                                        <span class="browtext">Browse</span><input type="file" class="browbtn" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">3. The Payment of Wages Act, 1936</label>
                                <div class="viewDocfile">                                    
                                     <img src="~/Content/general/images/pdfimg.png" />                                   
                                </div>
                                <div class="row showfil">
                                    <div class="col-6">
                                        <a href="#"><i class="fas fa-download"></i></a>
                                    </div>
                                    <div class="col-6 text-end posreltv">
                                        <span class="browtext">Browse</span><input type="file" class="browbtn" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">4. The Equal Remuneration Act, 1976</label>
                                <div class="viewDocfile">                                    
                                     <img src="~/Content/general/images/pdfimg.png" />                                   
                                </div>
                                <div class="row showfil">
                                    <div class="col-6">
                                        <a href="#"><i class="fas fa-download"></i></a>
                                    </div>
                                    <div class="col-6 text-end posreltv">
                                        <span class="browtext">Browse</span><input type="file" class="browbtn" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">5. The Payment of Bonus Act, 1965</label>
                                <div class="fileupld">
                                    <i class="fa fa-plus"></i>
                                    <input type="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-end">
                            <div class="col-md-2 d-grid">
                                <a href="@Url.Action("unit", "DashBoard")" class="btn btn-warning">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



