@{
    ViewBag.Title = "Communication";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="container-fluid pagecontentbody">
    <div class="tab-content">
        <div class="pagebody removebg-color">
            <div class="col-md-12 pageheader pb-2">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="mb-0 ps-4">
                            <a href="@Url.Action("unitdocuments", "DashBoard")" class="backarow"><i class="fas fa-arrow-left"></i></a>
                            Documents
                            <small class="custsty mt-2">Dominos * 2056785</small>
                        </h4>
                    </div>
                    <div class="col-md-2 text-end">
                        <a href="#" class="btn btn-warning my-1"><span class="fas fa-external-link-alt"></span>&nbsp;&nbsp;Export</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-9 mt-3">
                        <ul class="filter-search">
                            <li class="p-0">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="searchbox" value="" placeholder="Search">
                                    <button class="btn btn-default" type="button" id="button-addon2"><span class="icons icon-magnifier"></span></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mt-3">
                        <ul class="btngroup">
                            <li></li>
                            <li class="nav-item submenu"><a class="btn btn-default" type="button" id="A1">Short by <span class="fa fa-arrow-down"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive nosearch">
                    <table class="table table-bordred table-hover unittbl datatable">
                        <thead>
                            <th width="5%">
                                <input type="checkbox" /></th>
                            <th width="12%">Act</th>
                            <th>Type</th>
                            <th>Dash</th>
                            <th>Dash</th>
                            <th>Dash</th>
                            <th width="8%">Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" /></td>
                                <td>PF Act 2022</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>
                                   <a href="#" class="btn btn-warning"><span class="fas fa-external-link-alt"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" /></td>
                                <td>PF Act 2022</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>
                                   <a href="#" class="btn btn-warning"><span class="fas fa-external-link-alt"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" /></td>
                                <td>PF Act 2022</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>
                                   <a href="#" class="btn btn-warning"><span class="fas fa-external-link-alt"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" /></td>
                                <td>PF Act 2022</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>
                                   <a href="#" class="btn btn-warning"><span class="fas fa-external-link-alt"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" /></td>
                                <td>PF Act 2022</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>Dash</td>
                                <td>
                                   <a href="#" class="btn btn-warning"><span class="fas fa-external-link-alt"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



