<button id="btnSend" type="button" value="Send" class="btn2 btn-common btn-3 btn-3d pe-7s-check cursor" name="SendButton" 
        ng-model="Save" ng-init="Send='Send Message'" ng-click="CheckSavePermission();SendRecord()" ng-disabled="disableAdd"  >
    <span class="triangle-box"></span>
    <span id="btnSendtxt" ng-bind="Send"></span>
</button> 

<button id="btnClear" type="button" value="Clear" class="btn2 btn-common btn-3 btn-3d pe-7s-refresh-2"
        name="clearButton" ng-model="Clear" ng-disabled="disableClear" ng-click="ClearControl()" >
    <span class="triangle-box" title="Clear"></span>
    <span>Clear </span>
</button>









