<select id="ddlGender" autocomplete='address-level2' class="select2 form-control validate" ng-model="VendorType">
    <option value="">Select Vendor</option>
    <option value="Medicine">Medicine</option>
    <option value="Feed">Feed</option>
    <option value="Chick">Chick</option>
    <option value="Other">Other</option>
</select>