
<div id="printDiv" ng-init="GetReportHeaderUsingCategory('General Report');">
    <table class="bill-box bill-box2 page-ba">
        <tbody>
            <tr ng-repeat="id in InvoicesData">
                <td>
                    <div class="bill-box-top">
                        <div id="ReportHeader" ng-bind-html="ReportHeader"></div>
                        <div style="width: 100%;  ">
                            <div class="invoice-t">
                                <div>
                              
                                </div>
                            </div>
                            <div class="invoice-t invoice text-center">
                                <span ng-bind="id.I_Title"></span><br />
                                <span class="small-t">({{id.SubTitle}} Customer Copy)</span>
                            </div>
                            <div class="invoice-t text-right">  </div>

                        </div>




                        <div class="details-receiver">
                            <div class="col-sm-4">
                              Seller Detail
                            </div>
                           
                        </div>

                        <div class="transportation2">
                            <div class="col-sm-2">
                                <table>
                                 
                                    <tr>
                                        <td style="width: 97px;"> Name</td>
                                        <td ng-bind="id.TraderName"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Address</td>
                                        <td ng-bind="id.Address"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Contact No</td>
                                        <td ng-bind="id.ContactNo"></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 97px;">GSTIN / UIN</td>
                                        <td ng-bind="id.GSTINUIN"></td>
                                    </tr>
                                  
                                </table>


                            </div>
                            <div class="col-sm-2" style="float:right; border-right:none;">

                                <table>

                                    <tr>
                                        <td style="width: 97px;">Invoice Date</td>
                                        <td ng-bind="id.InvoiceDate"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Invoice No</td>
                                        <td ng-bind="id.InvoiceNo"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">BatchNo</td>
                                        <td ng-bind="id.BatchNo"></td>
                                    </tr>
                                   
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="bill-box-table">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:47px">Sr. No.</th>
                                    <th>Goods Type</th>
                                    <th>Unit</th> 
                                    <th style="white-space: nowrap;">Qty</th> 
                                    <th style="white-space: nowrap;">Rate <br /> (Per item)</th>
                                    <th style="width:100px;vertical-align:middle; text-align:center;">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  >
                                    <td style="width:40px"  >{{id.SNO}}</td>

                                  
                                    <td>{{id.VendorType}}</td>
                                    <td>{{id.Unit}}</td> 
                                    <td style="text-align:right;">{{id.TotalQuantity}}</td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Rate)}}</td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Amount)}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40px" ></td>

                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Amount)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="bill-box-top">
                        <div class="invoice-value">
                            <span>Invoice Value (In Words)</span> <span ng-bind="InWords"></span>
                        </div>

                        <div class="terms-conditions">

                            <table class="TC-table">
                                <tbody>
                                    <tr>
                                        <td style="width:60%;vertical-align:bottom;">

                                            <div class="terms-left">
                                                <span>Narration</span>
                                                {{Narration}}
                                            </div>
                                            <div class="terms-left">
                                                <span>{{Term}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="terms-right">
                                                <div class="for-company">
                                                    For {{BranchName}}
                                                </div>
                                                <div class="authorised">
                                                    Authorised Signatory
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="bill-box bill-box2 page-ba" ng-if="PrintingCount==2">
        <tbody>
            <tr ng-repeat="id in InvoicesData">
                <td>
                    <div class="bill-box-top">
                        <div id="ReportHeader" ng-bind-html="ReportHeader"></div>
                        <div style="width: 100%;  ">
                            <div class="invoice-t">
                                <div>

                                </div>
                            </div>
                            <div class="invoice-t invoice text-center">
                                <span ng-bind="id.I_Title"></span><br />
                                <span class="small-t">({{id.SubTitle}} Office Copy)</span>
                            </div>
                            <div class="invoice-t text-right">  </div>

                        </div>




                        <div class="details-receiver">
                            <div class="col-sm-4">
                                Seller Detail
                            </div>

                        </div>

                        <div class="transportation2">
                            <div class="col-sm-2">
                                <table>

                                    <tr>
                                        <td style="width: 97px;">Name</td>
                                        <td ng-bind="id.TraderName"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Address</td>
                                        <td ng-bind="id.Address"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Contact No</td>
                                        <td ng-bind="id.ContactNo"></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 97px;">GSTIN / UIN</td>
                                        <td ng-bind="id.GSTINUIN"></td>
                                    </tr>

                                </table>


                            </div>
                            <div class="col-sm-2" style="float:right; border-right:none;">

                                <table>

                                    <tr>
                                        <td style="width: 97px;">Invoice Date</td>
                                        <td ng-bind="id.InvoiceDate"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">Invoice No</td>
                                        <td ng-bind="id.InvoiceNo"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 97px;">BatchNo</td>
                                        <td ng-bind="id.BatchNo"></td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="bill-box-table">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:47px">Sr. No.</th>
                                    <th>Goods Type</th>
                                    <th>Unit</th>
                                    <th style="white-space: nowrap;">Qty</th>
                                    <th style="white-space: nowrap;">Rate <br /> (Per item)</th>
                                    <th style="width:100px;vertical-align:middle; text-align:center;">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:40px">{{id.SNO}}</td>


                                    <td>{{id.VendorType}}</td>
                                    <td>{{id.Unit}}</td>
                                    <td style="text-align:right;">{{id.TotalQuantity}}</td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Rate)}}</td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Amount)}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40px"></td>

                                    <td></td>
                                    <td></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">{{ConvertToTwoDecimalPoint(id.Amount)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="bill-box-top">
                        <div class="invoice-value">
                            <span>Invoice Value (In Words)</span> <span ng-bind="InWords"></span>
                        </div>

                        <div class="terms-conditions">

                            <table class="TC-table">
                                <tbody>
                                    <tr>
                                        <td style="width:60%;vertical-align:bottom;">

                                            <div class="terms-left">
                                                <span>Narration</span>
                                                {{Narration}}
                                            </div>
                                            <div class="terms-left">
                                                <span>{{Term}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="terms-right">
                                                <div class="for-company">
                                                    For {{BranchName}}
                                                </div>
                                                <div class="authorised">
                                                    Authorised Signatory
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>







