
@{
    ViewBag.Title = "TimePeriodReset";
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

<script src="~/scripts/myjslib/TimePeriodController.js"></script>
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Time Period Reset</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Global</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Time Period Reset</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Invoice List<span class="vd_red">*</span></label>
                                            <div class="input-box" ng-init="BindInvoice()">
                                                <select id="ddlinvoice" autocomplete='address-level2' class="select2 form-control validate" ng-change="BindDate(InId)" ng-model="InId">
                                                    <option value="">Select Invoice</option>
                                                    <option ng-repeat="x in InvoiceList" value="{{x.Id}}">{{x.VendorInvNum}}</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">End Date<span class="vd_red">*</span></label> 
                                            <div class="input-box">
                                                <input type="text" ng-model="DateList" class="form-control" ng-disabled="true"/>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Update Date<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <input type="date" id="txtEndDate" ng-model="EndDate" class="form-control" />
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                           <br />
                                            <button id="btnSave" type="button" value="Save" class="btn2 btn-common btn-3 btn-3d pe-7s-check ng-pristine ng-valid ng-not-empty ng-touched" name="saveButton"   ng-click="UpdateRecord()">
                                                <span class="triangle-box" title="Save"></span>
                                                <span id="btnSavetxt" ng-bind="Approve Invoice" class="ng-binding">Approve Invoice</span>
                                            </button>
                                        </div>
                                        

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>

