
@{
    ViewBag.Title = "ChangePassCode";
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

 

<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Change PassCode</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 ">
            <ol class="breadcrumb">
                <li><a href="#"><span>Administrator</span></a></li>
                <li class="active"><span>Setting</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <fieldset>
                                            <legend>Password</legend>
                                            <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                                <label class="control-label">Current PassCode<span class="vd_red">*</span></label>
                                                <div class="input-box">
                                                    @Html.TextBox("txtCurrentPasscode", "", new { @ng_blur = "checkPassCode()",  @class = "form-control clear validate", @placeholder = "" })
                                                    <div class="text-box-msg-r">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" ng-init="mySwitch=true">
                                                <label class="control-label">New PassCode<span class="vd_red">*</span></label>
                                                <div class="input-box">
                                                    @Html.TextBox("txtNewPasscode", "", new {@type="password", @ng_disabled = "mySwitch", @class = "form-control clear validate", @placeholder = "" })
                                                    <div class="text-box-msg-r">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                                <label class="control-label">Re-type PassCode<span class="vd_red">*</span></label>
                                                <div class="input-box">
                                                    @Html.TextBox("txtReTypePasscode", "", new { @ng_KeyUp = "checkReType()", @ng_disabled = "mySwitch", @class = "form-control clear validate", @placeholder = "" })
                                                    <div class="text-box-msg-r">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 mgbt-xs-15">
                                                <span class="triangle-box"></span>
                                                <input id="btnUpdate" type="button" value="Update" ng-click="ChangePassword()" class="button2" />
                                            </div>
                                        </fieldset>
</form>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <fieldset>
                                                <legend>Profile Upload</legend>
                                                <label class="control-label">Upload Or Change Profile Photo<span class="vd_red">*</span></label>
                                                <div class="input-box">
                                                    <div class="d-flex justify-content-end">
                                                        <img id="CandidatePhoto" src="~/Content/Photos/no-image.png" ng-src="{{Photo}}" style="width: 24px;height:24px; margin-right:10px;" />
                                                        <input type="file" id="fuCandidatePhoto" onchange="angular.element(this).scope().showphoto(this, '#AlbumIcon')" ng-model="Photo">
                                                        <input type="button" value="Update" ng-click="UploadPhoto()" class="button2" />
                                                    </div>

                                                    <div class="text-box-msg-r">
                                                    </div>
                                                    </div>
                                            </fieldset>

                                            </div>
                                        </div>
                                          


                                </div>
                            </div>
                         

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
</div>