
@media screen and (min-device-width:1470px) and (max-device-width:2560px) {
 
}

@media only screen and (max-width:1240px) {
}
@media only screen and (max-width:990px) {
 
}
@media only screen and (max-width:767px) {
 
}
@media only screen and (max-width:640px) {

}
@media only screen and (max-width:410px) {
 
 
}
