
@{
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Common/_RetailLayout.cshtml";
}
<script src="~/scripts/RetailJsLib/LicenseRequestMasterController.js"></script>

<div class="pagecontentbody">
    <div class="pagebody">
        <div class="col-md-12 pageheader pb-2">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="mb-0"></h4>
                </div>
                <div class="col-sm-3 text-end">
                    <a class="btn btn-dark" href="@Url.Action("LicenseMaster","RetailSection")">Back</a>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-init="GetBulkSuccessPayment()">
            <div class="row mb-3 p-3 pt-0">
                <div class="card p-0">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                <div class="row mb-3">
                                    <div class="col-md-9 mt-3">
                                        <ul class="filter-search">
                                            <li class="p-0">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" id="myInput" value="" placeholder="Search">
                                                    <button class="btn btn-default" type="button" id="button-addon2"><span class="icons icon-magnifier"></span></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <ul class="btngroup">
                                            <li></li>
                                            <li class="nav-item submenu">
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table-responsive nosearch">
                                    <table class="table table-bordred table-hover unittbl tableFixHead">
                                        <thead class="bg-warning text-white">
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Is Check</th>
                                                <th width="12%">Store Code</th>
                                                <th>Ref Store Code</th>
                                                <th>Store Address</th>
                                                <th>Proposed Date</th>
                                                <th>License Name</th>
                                                <th>License Type</th>
                                                <th>Requested Date</th>
                                                <th>Doc. Date </th>
                                                <th>Application Status </th>
                                                <th>Application Date </th>
                                                <th>Upload Application Copy </th>
                                                <th>Upload Challan Copy</th>
                                                <th>Upload Fees Copy </th>
                                                <th>License  Status </th>
                                                <th>License Date </th>
                                                <th>License Number </th>
                                                <th>Validity Start Date </th>
                                                <th>Validity End Date</th>
                                                <th>Upload License Copy</th>
                                                <th>Renewal Request Date</th>
                                                <th>Renewal Status</th>
                                                <th>Renewal Start Date</th>
                                                <th>Renewal End date</th>
                                                <th>Upload Renewed License</th>
                                                <th>UserName</th>
                                                <th>Password</th>
                                                <th>Mobile No.</th>
                                                <th>Email ID.</th>
                                                <th>Tentative Date of Comp.</th>
                                                <th>Invoice Status</th>
                                                <th>Invoice Date</th>
                                                <th>Invoice No.</th>
                                                <th> Invoice Amount<br />(To be paid net of TDS)</th>
                                                <th>Upload Invoice</th>
                                                <th>Payment Status</th>
                                                <th>Payment TAT</th>
                                                <th>Payment Due Date</th>
                                                <th>Over Due Day</th> 
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">

                                            <tr ng-repeat="license in BulkSuccessPaymentList" ng-disabled="{{IsValid}}">
                                                <td>{{ $index + 1 }}</td>
                                                <td><input id="chk{{license.LicenceRequstId}}" type="checkbox" ng-click="CheckBulkTocheckout(license)" /></td>
                                                <td><b>{{license.StoreCode}}</b></td>
                                                <td><b>{{license.RefStoreCode}}</b></td>
                                                <td>{{license.StoreAddress}}</td>
                                                <td>{{license.ProposedDate}}</td>
                                                <td>{{license.LicenseName}}</td>
                                                <td>{{license.LicenseType}}</td>
                                                <td>{{license.RequestedDate}}</td>
                                                <td>{{license.DocumentDate}}</td>
                                                <td>
                                                    <select class="form-select form-control validate" id="ApplicationStatus{{$index}}" ng-model="license.ApplicationStatus" ng-change="onStatusChange(license)" ng-disabled="{{IsValid}}">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="item in ApplicationStatusList" value="{{item.AttributeValue}}">{{item.AttributeValue}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input date-input type="date" class="form-control" id="ApplicationDate{{$index}}" ng-model="license.ApplicationDate" ng-class="{'validate': license.ApplicationDateInvalid}" ng-disabled="{{IsValid}}" />
                                                </td>
                                                <td>
                                                    <div id="UploadApplicationCopy{{$index}}" ng-disabled="{{IsValid}}">
                                                        <label class="vdoc" ng-hide="license.LStatus==2||license.LStatus==4||{{loginType}}==4">
                                                            Browse&nbsp;
                                                            <input id="license{{$index+1}}" class="pagerlink" type="file" style="display:none" ng-model="license.UploadApplicationCopy" onchange="angular.element(this).scope().uploadFile('UploadApplicationCopy', this)" ng-required="isChallanCopyMandatory" />
                                                        </label>
                                                        <a ng-show="license.UploadApplicationCopy||license{{$index+1}}=='1'" ng-click="viewDocument(license.UploadApplicationCopy)">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </div>


                                                </td>
                                                <td>
                                                    <div id="ChallanCopy{{$index}}" ng-disabled="{{IsValid}}">
                                                        <label class="vdoc" ng-hide="license.LStatus==2||license.LStatus==4||{{loginType}}==4">
                                                            Browse&nbsp;
                                                            <input id="UploadChallanCopy{{$index+1}}" type="file" style="display:none" ng-model="license.UploadChallanCopy" onchange="angular.element(this).scope().uploadFile('UploadChallanCopy', this)" ng-required="isChallanCopyMandatory" />
                                                        </label>
                                                        <a ng-show="license.UploadChallanCopy||UploadChallanCopy{{$index+1}}=='1'" ng-click="viewDocument(license.UploadChallanCopy)">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div id="FeesCopy{{$index+1}}" ng-disabled="{{IsValid}}">
                                                        <label class="vdoc" ng-hide="license.LStatus==2||license.LStatus==4||{{loginType}}==4">
                                                            Browse&nbsp;
                                                            <input id="UploadFeesCopy{{$index+1}}" type="file" style="display:none" ng-model="license.UploadFeesCopy" onchange="angular.element(this).scope().uploadFile('UploadFeesCopy', this)" />
                                                        </label>

                                                        <a ng-show="license.UploadFeesCopy||UploadFeesCopy{{$index+1}}=='1'" ng-click="viewDocument(license.UploadFeesCopy)">
                                                            <i class="fa fa-download"></i>
                                                        </a>


                                                    </div>
                                                </td>
                                                <td>
                                                    <select ng-model="license.LicenseStatus" id="LicenseStatus{{$index}}" class="form-select form-control validate" ng-disabled="{{IsValid}}">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="item in LicenseStatusList" value="{{item.AttributeValue}}">{{item.AttributeValue}}</option>
                                                    </select>
                                                </td>

                                                <td><input date-input type="date" class="form-control" id="IssuedDate{{$index}}" ng-model="license.IssuedDate" ng-disabled="{{IsValid}}" ng-change="LDate($index)" /></td>
                                                <td>  <input type="text" class="form-control" ng-model="license.LicenseNumber" id="LicenseNumber{{$index}}" ng-disabled="{{IsValid}}"></td>
                                                <td><input date-input type="date" class="form-control" ng-model="license.ValidityStartDate" id="ValidityStartDate{{$index}}" ng-disabled="{{IsValid}}" /></td>
                                                <td><input date-input type="date" class="form-control" ng-model="license.ValidityEndDate" id="ValidityEndDate{{$index}}" ng-disabled="{{IsValid}}" ng-change="SetDate($index)" /></td>
                                                <td>

                                                    <div ng-disabled="{{IsValid}}">

                                                        <label class="vdoc" ng-hide="license.LStatus==2||license.LStatus==4||{{loginType}}==4">
                                                            Browse&nbsp;
                                                            <input id="UploadLicenseCopy{{$index+1}}" type="file" style="display:none" ng-model="UploadLicenseCopy" onchange="angular.element(this).scope().uploadFile('UploadLicenseCopy', this)" />
                                                        </label>
                                                        <a ng-show="license.UploadLicenseCopy||UploadLicenseCopy{{$index+1}}=='1'" ng-click="viewDocument(license.UploadLicenseCopy)">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                <td><input type="text" class="form-control" readonly ng-model="license.RenewalRequestDate" /></td>
                                                <td>
                                                    <p ng-show="license.LStatus==4">{{license.RenewalStatus}}</p>
                                                    <select ng-model="license.RenewalStatus" class="form-select form-control validate" ng-disabled="{{IsValid}}" ng-show="license.LStatus==3">
                                                        <option value="">Select</option>
                                                        <option value="Renew">Renew</option>
                                                        <option value="NonRenew">Non Renew</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="date" class="form-select form-control " ng-model="license.RenewalStartDate" ng-show="license.LStatus==4" />
                                                    <input date-input type="date" class="form-control" id="RenewalStartDate{{$index}}" ng-model="license.RenewalStartDate" ng-disabled="{{IsValid}}" ng-show="license.LStatus==3" />
                                                </td>
                                                <td>
                                                    <input date-input type="date" class="form-select form-control " ng-model="license.RenewalEnddate" ng-show="license.LStatus==4||license.LStatus==3" ng-disabled="{{IsValid}}" />

                                                    @*<input date-input type="date" class="form-control" id="RenewalEnddate{{$index+1}}" ng-model="license.RenewalEndDate" ng-show="" />*@
                                                </td>
                                                <td>
                                                    <div ng-disabled="{{IsValid}}">
                                                        <label class="vdoc" ng-if="loginType==1" ng-show="license.LStatus==4||license.LStatus==3">
                                                            Browse&nbsp;
                                                            <input id="UploadRenewedCopy{{$index+1}}" type="file" style="display:none" ng-model="UploadRenewedCopy" onchange="angular.element(this).scope().uploadFile('UploadRenewedCopy', this)" />
                                                        </label>

                                                        <div ng-If="license.UploadRenewedCopy.length>0">
                                                            <a ng-show="license.UploadRenewedCopy !='null'||UploadRenewedCopy{{$index+1}}=='1'" ng-click="viewDocument(license.UploadRenewedCopy)">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>  <input type="text" class="form-control" ng-model="license.UserName" ng-disabled="{{IsValid}}"></td>
                                                <td>  <input type="text" class="form-control" ng-model="license.UserPassword" ng-disabled="{{IsValid}}"></td>
                                                <td>  <input id="MobileNumber{{$index}}" type="text" class="form-control" ng-model="license.MobileNumber" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))" numeric-only dynamic-length maxlength="10" minlength="10" ng-disabled="{{IsValid}}"></td>
                                                <td>  <input type="text" id="Email{{$index}}" class="form-control" ng-model="license.EmailId" ng-disabled="{{IsValid}}"></td>
                                                 
                                                <td>
                                                    <select ng-model="license.InvoiceStatus" id="InvoiceStatus{{$index}}" class="form-select form-control validate" ng-disabled="{{IsValid}}">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="item in InvoiceStatusList" value="{{item.AttributeValue}}">{{item.AttributeValue}}</option>
                                                    </select>
                                                </td>
                                                <td>

                                                    <input date-input type="date" class="form-control" id="InvoiceDate{{$index}}" ng-model="license.InvoiceDate" ng-disabled="{{IsValid}}" />

                                                </td>
                                                <td>
                                                    <div>
                                                        <input type="text" class="form-control" id="InvoiceNo{{$index}}" ng-model="license.InvoiceNo" ng-disabled="{{IsValid}}" />

                                                    </div>
                                                    <div>

                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" ng-disabled="{{IsValid}}" class="form-control" id="InvoiceAmount{{$index}}" ng-model="license.InvoiceAmount" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))">
                                                </td>
                                                <td>
                                                    <div ng-disabled="{{IsValid}}">
                                                        <label class="vdoc" id="InvoiceCopy{{$index}}" ng-hide="license.LStatus==2||license.LStatus==4||{{loginType}}==4">
                                                            Browse&nbsp;
                                                            <input id="UploadInvoice{{$index+1}}" type="file" style="display:none" ng-model="license.UploadInvoice" onchange="angular.element(this).scope().uploadFile('UploadInvoice', this)" />
                                                        </label>
                                                        <a ng-show="license.UploadInvoice||UploadInvoice{{$index+1}}=='1'" ng-click="viewDocument(license.UploadInvoice)">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select ng-model="license.PaymentStatus " class="form-select form-control validate" ng-disabled="true">
                                                        <option value="">Select</option>
                                                        <option value="Paid">Paid</option>
                                                        <option value="Unpaid">Unpaid</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="license.PaymentTAT" ng-disabled="{{IsValid}}" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))">
                                                </td>
                                                <td><input type="text" class="form-control" ng-disabled="true" ng-model="license.PaymentDueDate" /> </td>
                                                <td><input class="form-control" ng-disabled="true" ng-model="license.PaymentOverDueDate" /></td>
                                          
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-md-3 d-grid pt-3">
                                        <a ng-click="CheckBulkChekout()" class="btn btn-md btn-warning">Procced For Payment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
