@{
    ViewBag.Title = "Location Master";
    ViewBag.TitleList = "Sort By Column";
    ViewBag.Version = System.Configuration.ConfigurationManager.AppSettings["version"];
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}

<script src="~/Scripts/myjslib/LocationController.js?Ver=@ViewBag.Version"></script>
@*<script src="~/Scripts/myjslib/ddlBindings.js"></script>*@
<input type="hidden" id="Id" name="Id" value="" ng-model="hfId" />
<input type="hidden" id="Id1" name="Id1" value="" ng-model="hfId1" />
<div class="autohide-scroll autoheightset">
    <div class="br-pageheader">
        <!-- Title -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 root-t-p-n ">
            <h5 class="txt-dark">Location Master</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm">
            <ol class="breadcrumb">
                <li><span>Global</span></li>
                <li><span>Master</span></li>
                <li class="active"><span>Location Master</span></li>
            </ol>
        </div>

    </div>
    <div class="br-pagebody">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view shadow-base panel-refresh panel-Search-refresh">
                    <div class="refresh-container">
                        <div class="preloader">
                            <div class="circles-1">
                                <div class="circles-1-center"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                                <div class="circles-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrapper ">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                <div class="collapse in" id="collapseinputbox">
                                    <form id="user-form">
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Client</label>
                                            <div class="input-box" ng-init="AllParty()">
                                                <select id="ddlCustomerId" autocomplete='address-level2' class="select2 form-control" ng-model="ClientId" ng-change="AllPartySiteLoad()" >
                                                    <option value="">Select</option>
                                                    <option ng-repeat="x in AllPartyList | filter: { PartyType: 'Client' }" value="{{x.PartyId}}">{{x.PartyName}}</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15" ng-init="AllPartySiteLoad()">
                                            <label class="control-label">Site<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <select id="ddlVendorSiteId" autocomplete='address-level2' class="select2 form-control validate" ng-model="SiteId" >
                                                    <option value="">Select Site</option>
                                                    <option ng-repeat="x in AllPartySiteVList" value="{{x.SiteId}}">{{x.SiteName}}</option>
                                                </select>
                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-sm-6 col-xs-12 mgbt-xs-15">
                                            <label class="control-label">Location<span class="vd_red">*</span></label>
                                            <div class="input-box">
                                                <input id="txtLocation" type="text" ng-model="Location"  onKeyUp="$(this).val($(this).val().replace(/[^\w\s]+/g, ''))"   class="form-control  clear validate" />

                                                <div class="text-box-msg-r">
                                                </div>
                                            </div>
                                        </div>
                                         


                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Partial("ActionView")
                                        </div>

                                    </form>
                                </div>
                            </div>
                            @Html.Partial("SearchAngularJs")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>

</div>
