
.navbar-nav > li > a {
    font-size: 15px !important;
    margin-top: 10px !important;
}

@media (max-width: 991px) {
    .navbar-nav > li > a {
        font-size: 18px !important;
        border: 1px solid #ccc;
        margin-top: 0 !important;
    }
}



#content {
    margin-top: 9rem;
}

.high_light {
    background-color: #ACACAC !important;
    color: #fff !important;
}

.library_pt .table {
    background-color: #fff;
}

.high_light a {
    color: #fff !important;
    text-decoration: none;
}

.high_light .fa {
    color: #fff !important;
}

.alert-block {
    margin-top: 7% !important;
    padding: 10px;
    width: 40%;
    float: right;
    position: relative;
}

.library-heading {
    font-weight: bold;
    font-size: 28px;
    color: #7D7D7D;
}

.fixed-left-nav {
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 0px 8px;
}

.high_lighted {
    background-color: #ACACAC !important;
    color: #fff !important;
}

.btn-library {
    border: 0;
}

.list-nav {
    position: relative;
    padding: 7px 10px;
    margin: 8px 0;
    background-color: #fcfcfc;
    box-shadow: 0 2px 5px #aaa;
    height: 30px;
    line-height: 16px;
}

    .list-nav:hover {
        background-color: #E4E4E4;
    }

    .list-nav a {
        position: absolute;
        width: 93%;
        color: #787878;
    }

    .list-nav .fa {
        color: #787878;
        margin-right: 5px;
    }

.btn-inactive {
    font-size: 12px;
    padding: 10px 10px;
    background: #11111F;
    color: #B0B8BF;
    font-weight: 600;
    width: 45%;
}

    .btn-inactive:hover {
        color: #fff;
        /* background: #F2BC12; */
        background: #74B749;
        box-shadow: 0 1px 5px grey;
    }

.btn-active {
    font-size: 13px !important;
    padding: 10px 10px 9px 10px;
    background: linear-gradient( to bottom, #F2BC12, #F0AA49) !important;
    color: #fff !important;
    font-weight: 500 !important;
    box-shadow: 2px 2px 4px #ddd;
    width: 55%;
}

@media (max-width: 1200px) {
    .btn-active {
        font-size: 12px !important;
        padding: 6px 7px 6px 7px;
    }

    .btn-inactive {
        font-size: 10px;
        padding: 7px 7px;
    }
}

@media (max-width: 991px) {
    .btn-active {
        font-size: 15px !important;
        padding: 9px 10px 9px 10px;
    }

    .btn-inactive {
        font-size: 13px;
        padding: 10px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1070px) {
    .btn-active {
        font-size: 12px !important;
        padding: 5px 4px;
    }

    .btn-inactive {
        font-size: 11px;
        padding: 6px 4px;
    }
}



.search-drop-list {
    cursor: pointer;
}

#busy-indicator-dash {
    display: none;
    position: absolute;
    right: 80px;
    top: 15px;
    z-index: 10
}

.table {
    margin-bottom: 0;
}



.btns-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.custom-modal-body {
    background: rgba(0,0,0, 0.6);
}

.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-close-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 4px 8px !important;
    border: 3px solid #FECA43 !important;
    border-radius: 100px;
    background-color: #FECA43 !important;
    opacity: 1 !important;
}

    .modal-close-btn:hover {
        transition: 0.2s all;
        border: 3px solid #edba21 !important;
        background-color: #edba21 !important;
    }

.modal-backdrop {
    opacity: 0 !important;
}

.img-container {
    display: inline-block;
}

.cont1, .cont2, .cont3 {
    position: relative;
}

.main-imgs {
    width: 250px;
}

.btn-imgs {
    width: 70px;
    position: absolute;
    top: 47%;
    left: 2px;
    transform: translateY(-50%);
    animation: RotateInView 0.9s;
}

@media (min-width: 768px) {
    .modal-dialog {
        position: relative;
        top: 40%;
        transform: translateY(-50%) !important;
    }
}

@media (max-width: 577px) {
    .img-container {
        display: block;
        margin: 0 auto;
    }
}

@keyframes RotateInView {
    from {
        position: absolute;
        top: 22px;
        left: 2px;
        transform: scale(0.1, 0.1) rotate(360deg);
    }

    to {
        position: absolute;
        top: 22px;
        left: 2px;
        transform: scale(1, 1) rotate(0deg);
    }
}

#bottomAd {
    position: fixed;
    bottom: -11px;
    right: 19%;
    z-index: 10000000;
    display: none;
}

.bottom-btn-imgs {
    width: 80px;
    margin: 0 6px;
}

    .bottom-btn-imgs:hover {
        transform: scale(1.2,1.2);
        transition: 0.4s;
    }

.animateBottomAd {
    animation: BottomAdEffect 1s;
}

@keyframes BottomAdEffect {
    from {
        bottom: -90px;
    }

    to {
        bottom: -11px;
    }
}


.hover_yellow:hover {
    color: #feca45;
}


.progress-bar-success {
    background-color: #5cb85c;
}

.error {
    color: #953b39;
}

.clearfix {
    clear: both;
}

.modal {
    position: fixed;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: transform 250ms;
}

.modal-content {
    border: none !important;
    margin: 10% auto;
    width: 80%;
}
/* .close {
    position: absolute;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 27px;
    background: white;
    text-align: center;
    border-radius: 50px;
    color: black;
    right: 2rem;
    top: 10px;
    } */
/* fixes navbar hides content */
@media(min-width: 1089px) {
    .library-leftPanel {
        padding-top: 8% !important;
    }
}

@media(min-width: 992px) and (max-width: 1088px) {
    .library-leftPanel {
        padding-top: 13% !important;
    }
}

.table-responsive .pull-right {
    margin: 12px;
}

.location-table > thead > tr > th {
    background-color: #E4E4E4;
}

.location-table > tbody > tr > td {
    border: 0;
}

.custom-badge {
    border: 1px solid #feca45;
    color: #252525;
    background-color: #feca45;
    box-shadow: 1px 2px 3px gray;
}

.library-box-container {
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 14px;
}

.text-primary {
    font-size: 30px;
    margin: 10px 0;
}

.library-box {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 8px;
    margin: 12px 0px;
    box-shadow: 0px 2px 6px #CCC;
}

.btn-custom-download {
    border: 1px solid #F4CA43;
    border-radius: 15px;
    padding: 3px 10px;
    color: #fff;
    margin-left: 2px;
    margin-bottom: 2px;
}

    .btn-custom-download:hover {
        background-color: #fff;
        color: #F4CA43;
    }

    .btn-custom-download .fa {
        font-size: 13px;
    }

.content-large-screen {
    /* width:88%; */
    overflow-y: hidden;
    height: 64px;
    border: 1px solid #EFEFEF !important;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.content-mobile-screen {
    /* width:73%; */
    overflow-y: hidden;
    height: 82px;
}

.btn-show-more {
    font-size: 16px !important;
    color: #fff;
    background: linear-gradient(to bottom, #F2BC12, #F0AA49);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px #CACACA;
}

    .btn-show-more:hover {
        border: 1px solid #F2BC12;
        background: #fff !important;
        color: #F2BC12;
    }

/* Redefining the height for mobile view */
@media (max-width: 991px) {
    .bg-height {
        background: #fff !important;
        max-height: none !important;
    }
}

.nav > li > a {
    color: #252525 !important;
    /*color : #999 !important;;*/
}

    .nav > li > a:hover {
        background: #feca45;
        /* background:none; */
        border-bottom: 2px solid #feca45;
    }

@media (min-width: 768px) {
    .custom-lib {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /* .nav>li:hover a.main-menu {
			background-color: #feca45 ;
			border-bottom: 2px solid #feca45 !important;
		} */
    /* not for mobile view */
    .extra-down {
        display: none !important;
    }
}

#products {
    position: fixed;
    bottom: 0;
    z-index: 100000;
}

.dropdown-menu {
    min-width: 300px !important;
    font-size: 14px !important;
}

ul.dropdown-menu.shrm_login {
    min-width: auto !important;
}

.panel-blue > .panel-heading {
    color: #fff;
    background-color: #feca45;
    border-color: #feca45;
}

.panel-blue {
    border-color: #feca45;
}

.header_new_tabs {
    background: #feca45;
    width: 30px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    display: inline-block;
    position: absolute;
    color: #000;
    border-radius: 50%;
    top: 0;
    right: 20px;
    height: 16px;
}

body.dark .header-v6 .dropdown .dropdown-submenu > a {
    color: #211e1e !important;
}

@media (max-width: 470px) {
    .header-v6 .navbar-nav > li > a:hover, .header-v6 .navbar-nav .open .dropdown-menu > li > a:hover, .header-v6 .navbar-nav .open .dropdown-menu > li > a:focus, .header-v6 .navbar-nav .open .dropdown-menu > .active > a, .header-v6 .navbar-nav .open .dropdown-menu > .active > a:hover, .header-v6 .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff !important;
    }
}

.header-v6 .mega-menu .dropdown-submenu .dropdown-menu {
    border: none !important;
}

.btn-shrm {
    text-align: left !important;
    font-size: 14px !important;
    padding: 6px 25px !important;
    color: #252525 !important;
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

    .btn-shrm:hover {
        background: #ccc !important;
    }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #252525;
    background-color: #ccc;
}

.footer-heading {
    font-weight: 600;
    font-size: 25px;
}

.bold {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}

.text-underline:hover {
    text-decoration: underline;
}

.links-custom p {
    line-height: 25px;
}

    .links-custom p a:hover {
        text-decoration: underline;
    }

.address {
    line-height: 18px;
}

    .address .p {
        margin-left: 15px;
    }

.location-drop a {
    color: #feca45;
}

    .location-drop a:hover {
        color: #feca45;
        text-decoration: underline;
    }

.footer-fa {
    font-size: 20px;
}

.social-links li {
    display: inline-block;
}

.social-links .twitter, .social-links .facebook, .social-links .linkedin {
    width: auto !important;
}


.ajaxmodal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.ajaxcenter {
    z-index: 1000;
    margin: 270px auto;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

    .ajaxcenter img {
        height: 128px;
        width: 128px;
    }

/* for location panel in all e-library pages */
.v-text-align {
    vertical-align: text-bottom;
}

.library-alert {
    margin-top: 8% !important;
}

@media only screen and (max-width: 1280px) {
    /* For desktops: */

    .library-alert {
        margin-top: 8% !important;
    }
}

@media only screen and (max-width: 980px) {
    /* For desktops: */

    .library-alert {
        margin-top: 23% !important;
    }
}

@media only screen and (max-width: 768px) {
    /* For tablet phones: */

    .library-alert {
        margin-top: 17% !important;
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    .library-alert {
        margin-top: 27% !important;
    }
}


.globe-rotate {
    animation: rotate 4s linear infinite;
    -webkit-animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
