
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Common/_IframeMaster.cshtml";
}
<script src="~/scripts/myjslib/controller.js"></script>
<h2>Payment</h2>

<div ng-click="CreateToken()" >Payemnt</div>